@model Baseball.Lib.Models.Player

@{ var playerName = Model.FirstName + " " + Model.LastName; }

@{ ViewBag.Title = playerName; }

<h2>@(playerName)</h2>

<fieldset>
    <legend>@(playerName)</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to Roster", "Index")
</p>
